/* COLOR SCHEME */
.header, .blurb, .offcanvas-body, .offcanvas-header {
    background-color: #fcba03;
} 

.navbar, .offcanvas-info {
    background-color: #ffce47;
}

body {
    background-color: white;
}

.offcanvas-header, .offcanvas-info, .blurb {
    color: #fffbc9;
}


/* ENTIRETY OF SCREEN */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-weight: bold;
    font-size: 15px;
}

.mainscreen {
    height: 100%;
    min-height: 100%;

    display: flex;
    flex-flow: column;
    text-align: center;
}

/* HEADER */
.header {
    padding: 2rem 2rem 1rem 2rem;
    text-align: center;
}

h1 a,
h1 a:hover {
    font-size: 3vw;
    letter-spacing: 20px;
    text-decoration: none;
    color: #feffa8;
    /* text-shadow: -10px 5px 10px #b08100; */

    outline: 10px solid transparent;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 6s linear infinite;
}

@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}

/* NAVIGATION (above & below) */
.navbar {
    background-color: #ffce47;
    font-weight: bold;
    padding: 5px;
}

.mini-navbar {
    font-weight: normal;
    padding: 2px; 
}

.nav-item {
    margin: 0rem 1rem 0rem 1rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

/* ANIMATION ITSELF */
iframe {
    flex: 1 1 auto;
}

/* FOR INDEX PAGE */
.ca {
    height: 85vh;
}

.blurb {
    padding: 30px;
}

/* SPERM PAGE */ 
#sperm {
    margin: 5vw;
}

#sperm-game, #sperm-game:hover {
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: #14171f;
    color: rgba(255, 255, 255, 0.5);
    border: 0;

    text-decoration: none;
}

/* PLANETS PAGE */ 
.planets {
    display: flex;
    flex-flow: column;
}

.planet {
    height: 100vh;
}

/* GIFTWRAPPING PAGE */
.giftwrapping {
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, [col-start] 1fr);

    padding: min(50px, 10vw);
    grid-gap: min(50px, 10vw);

    justify-items: center;
}

@media (max-width: 800px) {
    .giftwrapping {
        grid-template-columns: 1fr;
    }
}

.giftwrap-image {
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1 / 1;
}

.caption {
    position: absolute;
    bottom: 0;
}

/* OFFCANVAS */

.offcanvas {
    width: max(25vw, 200px);
}

.offcanvas-header {
    padding: 20px;
}

.offcanvas-mini-title {
    margin-bottom: 5px;
}

.offcanvas-info {
    font-weight: 550;
    padding: 10px;
    margin-bottom: 20px;
}

.custom-link, .custom-link:hover {
    color: white;
    text-decoration: none;
}
