{% extends "layout.html" %}
{% set active_page = "index" %}

{% block head %}
    <style>
        body {
            background-color: black;
        }

        body, html {
            height: auto;
            min-height: 100%;
        }
    </style>
{% endblock %}

{% block body %}
<div class="canvas-div" id="ca" name="ca">
    <script src="/static/animations/homepage/cellularautomata/sketch.js"></script>
</div>

<div class="blurb">
    <p> hello!! i am sonja lundh</p>
    <p>and these are the animations i have made ... </p>
    <p> i am a student at warwick university </p>
    <p> currently in my second year, studying maths and compsci </p>
    <p> i decided to start making animations as it is a very cool blend </p>
    <p>of my two passions - programming and art !</p>
</div>
{% endblock %}