{% extends "layout.html" %}
{% set active_page = "index" %}

{% set animation = [
    'ahhhh', 'cellularautomata', 'dbpendulum', 
    'fire', 'phosphene', 'rectangular', 'worleynoise'] | random %}

{% block head %}
    <style>
        body, html {
            height: auto;
            min-height: 100%;
        }
    </style>
{% endblock %}

{% block body %}
<iframe src = "/static/animations/homepage/cellularautomata/index.html", class="ca", name="{{animation}}", title="{{animation}}", frameborder="0", scrolling="no"></iframe>

<div class="blurb">
    <p> hello!! i am sonja lundh</p>
    <p>and these are the animations i have made ... </p>
    <p> i am a student at warwick university </p>
    <p> currently in my second year, studying maths and compsci </p>
    <p> i decided to start making animations as it is a very cool blend </p>
    <p>of my two passions - programming and art !</p>
</div>
{% endblock %}