{% extends "layout.html" %}
{% set active_page = "index" %}

{% set animation = [
    'ahhhh', 'cellularautomata', 'dbpendulum', 
    'fire', 'phosphene', 'rectangular', 'worleynoise'] | random %}

{% block head %}
    <style>
        body, html {
            height: auto;
            min-height: 100%;
        }
    </style>
{% endblock %}

{% block body %}
<iframe src = "/static/animations/homepage/cellularautomata/index.html", class="ca", name="{{animation}}", title="{{animation}}", frameborder="0", scrolling="no"></iframe>
{% endblock %}

{% block desc %}
<p> hello! i am sonja lundh, and these are the animations i have made ... </p>
{% endblock %}