{% set navigation_bar = [
    ('/', 'index', 'home'),
    ('/attractor', 'attractor', 'attractor'),
    ('/sperm', 'sperm', 'sperm'),
    ('/wallpaper', 'wallpaper', 'wallpaper'),
    ('/planets', 'planets', 'planets'),
    ('/giftwrapping', 'giftwrapping', 'gift wrapping'),
    ('/polar', 'polar', 'polar coords')
] -%}

{% set active_page = active_page|default('index') -%}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <meta charset="utf-8" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.10.0/p5.js"></script>

        <link href="/static/styles.css" rel="stylesheet">
        <title>Cheesecakery</title>

        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="mainscreen">
            <div class="top-of-screen">
                <div class="header">
                    <h1>
                        <a href="/">cheesecakery</a>
                    </h1>
                </div>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse navbar-toggleable-xs" id="navbarTop">
                    <ul class="navbar-nav mr-auto">
                        {% for href, id, caption in navigation_bar %}
                            {% if id == active_page %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ href|e }}">{{ caption|e }} <span class="visually-hidden">(current)</span></a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ href|e }}">{{ caption|e }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                {% if active_page != 'index' %}
                    <button class="btn {% if active_page in ['sperm', 'polar'] %} btn-dark {% else %} btn-warning {% endif %} ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target={{"#offcanvas-" + active_page}} aria-controls="offcanvas-giftwrapping">?</button>
                {% endif %}
            </nav>
            </div>
  

            {% block body %}{% endblock %}

            {% if active_page in ['wallpaper', 'polar'] %}
                <nav class="navbar navbar-expand-lg navbar-dark mini-navbar">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse navbar-toggleable-xs" id="navbarBottom">
                            <ul class="navbar-nav mx-auto">
                                {% block bottom %}
                                {% endblock %}
                            </ul>
                        </div>
                </nav>
            {% endif %}
        </div>

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id={{"offcanvas-" + active_page}} aria-labelledby="offcanvasGiftwrappingLabel">
            <div class="offcanvas-header">
              <h3 id="offcanvasRightLabel">{% block offcanvasheader %}{% endblock %}</h3>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              {% block offcanvastext %}
              {% endblock %}
            </div>
        </div>
    </body>
</html>