{% extends "layout.html" %}
{% set active_page = "polar" %}
{% set color = [('#13192e', '#1f3752'), 
                ('#162917', '#364a33'),
                ('#380a0a', '#6b2c25'),
                ('#113536', '#264d4a'),
                ('#1b0e29','#3f2242'),
                ('#3b0f22', '#522132'),
                ('#2b1807', '#402f11')] | random %}

{% set polar_bar = [
    ('peachy', 'peachy', 'peachy'),
    ('crinkling_spiral', 'crinkling_spiral', 'crinkling spiral'),
    ('iris', 'iris', 'iris'),
    ('slinky', 'slinky', 'slinky'),
    ('limacon', 'limacon', 'limaçon'),
    ('circles', 'circles', 'circles'),
    ('cardioid', 'cardioid', 'cardioid'),
    ('eye_spiral', 'eye_spiral', 'eye spiral'),
    ('limacon2', 'limacon2', 'limaçon: the sequel')
] %}

{% block head %}
<style>
  .header, .offcanvas-header, .offcanvas-body {
    background-color: {{color[0]}};
  }

  .navbar, .offcanvas-info {
    background-color: {{color[1]}};
  }

  body {
    background-color: black;
  }

  .mini-navbar {
    opacity: 0.9;
  }

  .offcanvas-header, .offcanvas-body, .offcanvas-info {
    color: rgba(255, 255, 255, 0.5);
  }
</style>

{% endblock %}

{% block body %}
  <div class="sketchDiv" id="{{animation}}">
    <script src="/static/animations/polar/flower.js"></script>
    <script src="/static/animations/polar/rotator.js"></script>
    {% for script in scripts %}
      <script src="/static/animations/polar/{{animation}}/{{script}}.js"></script>
    {% endfor %}
  </div>
{% endblock %}

{% block bottom %}
  {% for href, id, caption in polar_bar %}
    {% if id == animation %}
        <li class="nav-item">
            <a class="nav-link active" href="/polar/{{ href|e }}">{{caption|e}}<span class="visually-hidden">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/polar/{{ href|e }}">{{caption|e}}</a>
        </li>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block offcanvasheader %} polar coordinates {% endblock %}
{% block offcanvastext %}
    <div class="offcanvas-info">
      <h4 class="offcanvas-mini-title">some stuff i wanna say</h4>
      <p>
        so, the ideas of these first stemmed with when i learnt about polar coordinates in a-level further maths. i wasn't doing 
        animations then, but i was playing around a lot in desmos, as i realised that the splitting of coordinates into (r, theta) form  
        instead meant i could make some quite interesting curvatures
      </p>
      <p>
        so, in these animations,, i used copious amounts of sines and cosines and tans of course - both in the way the particles spawn on the canvas, and in the way and the speed 
        at which they move.
      </p>
    </div>
{% endblock %}