{% extends "layout.html" %}
{% set active_page = "sperm" %}

{% set color = ('#0b0e14', '#14171f') %}

{% block head %}
<style>
  body, html {
    height: auto;
    min-height: 100%;
  } 

  body {
    background-color: black;
  }
</style>
{% endblock %}

{% block body %}

<iframe src = "/static/animations/sperm3/index.html", id="sperm2", name="sperm", title="sperm", frameborder="0", scrolling="no"></iframe>

<div class="blurb">
  <h4>the sperm game</h4>
  <button class="btn btn-warning ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target={{"#offcanvas-" + active_page}} aria-controls="offcanvas-giftwrapping">?</button>
</div>

<iframe src = "/static/animations/sperm/index.html", id="sperm", name="sperm", title="sperm", frameborder="0", scrolling="no"></iframe>

{% endblock %}

{% block offcanvasheader %} the sperm game {% endblock %}
{% block offcanvastext %}
    <div class="offcanvas-info">
        <h4 title="offcanvas-mini-title">how to play</h4>
        <p>
            move up and down with arrows. eat food to go quicker. aim is to get all three sperms on the egg so it will crack.
        </p>
    </div>

    <div class="offcanvas-info">
      <h4 title="offcanvas-mini-title">some stuff i wanted to say</h4>
      <p> this game is, admittedly, kind of annoying to play . i was trying more so to play around with textures than anything else </p>
      <p> it came about after first trying out sine wave explorations in p5 . trigonometry is present literally everywhere 
        in games, it's crazy.
      </p>
      <p>
        the little food texture is a smaller version of the 'iris' animation on the polar page. (how fun!)
      </p>
      <p>
        i decided to make a sperm game after accidentally designing a lovely sperm . i made the background slightly transparent to give the 
        sperm the appearance of a tail
      </p>
      <p>
        each sperm that latches onto the egg makes it crack a little more .
      </p>
    </div>
{% endblock %}