{% extends "layout.html" %}
{% set active_page = "sperm" %}

{% block head %}
<style>
  .expl {
    background-color: #312f4a;
    color: #4c607d;
    font-weight: bold;
  }

  body {
    background-color: black;
  }

  .mainscreen {
    padding: 0px;
  }
</style>
{% endblock %}

{% block expl %}
<p class="dark">move up and down with arrows. eat food to go quicker. aim is to get all three sperms on the egg so it will crack.</p>
{% endblock %}

{% block body %}

<iframe src = "/static/animations/sperm/index.html", class="sperm", name="sperm", title="sperm", frameborder="0", scrolling="no"></iframe>

{% endblock %}