{% extends "layout.html" %}
{% set active_page = "wallpaper" %}
{% set wallpaper_bar = ['arrows', 'drag', 'fullscreen'] %}

{% block head %}
<style>
  .mini-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: normal;
    padding: 2px;
  }
</style>
{% endblock %}

{% block expl %}
{% if mode == 'arrows' %}
    <p>arrows to navigate, i to toggle invisiblity, e to toggle erasor mode, -/+ to change height, c to clear canvas, s to take a screenshot</p>
{% elif mode == 'drag' %}
    <p>drag to draw on the canvas !</p>
{% else %}
    <p>arrows to navigate, -/+ to zoom in n out</p>
{% endif %}{% endblock %}

{% block body %}

<iframe src="/static/animations/wallpaper/{{mode}}/index.html", name="wallpaper", title="wallpaper", frameborder="0", scrolling="no"></iframe>

{% endblock %}

{% block bottom %}
{% for href in wallpaper_bar %}
                {% if href == mode %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/wallpaper/{{ href|e }}">{{href|e}}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/wallpaper/{{ href|e }}">{{href|e}}</a>
                    </li>
                {% endif %}
            {% endfor %}
{% endblock %}