{% extends "layout.html" %}
{% set active_page = "wallpaper" %}
{% set wallpaper_bar = ['arrows', 'drag', 'fullscreen'] %}

{% block offcanvasheader %} wallpaper drawings {% endblock %}
{% block offcanvastext %}
    <div class="offcanvas-info">
        <h4 title="offcanvas-mini-title">how to play ({{mode}})</h4>
        {% if mode == 'arrows' %}
            <ul>
                <li>arrows to navigate</li>
                <li>i to toggle invisiblity</li>
                <li>e to toggle erasor mode</li>
                <li>-/+ to change size of brush</li>
                <li>c to clear the canvas</li>
                <li>s to take a screenshot</li>
                        {% elif mode == 'drag' %}
            <p>drag to draw on the canvas !</p>
        {% else %}
            <ul>
                <li>arrows to move around</li>
                <li>-/+ to zoom in and out</li>
            </ul>
        {% endif %}
    </div>

    <div class="offcanvas-info">
    <h4 title="offcanvas-mini-title">some stuff i wanted to say</h4>
    <p> found the algorithm for this in a book - the new turing omnibus ( by a. k. dewdney )
        i thought it looked really cool ! 
    </p><p>
        had fun exploring the capabilities in p5 for manipulating different layers of canvas
    </p>
        and immediately felt the need to have it be 'revealed' - at first i made a bouncing ball sketch, which was 
        pretty awesome
    </p>
    <p>
        but then i settled on the idea of 'uncovering' the wallpaper underneath . whether that be by 
        using arrows to dig it up, or scratching at it with your mouse ...
    </p> <p>
    or, as in the case of the fullscreen version , a navigating of it , an exploration 
    </p>
    </div>

{% endblock %}

{% block body %}
<iframe src="/static/animations/wallpaper/{{mode}}/index.html", id="{{mode}}", name="wallpaper", title="wallpaper", frameborder="0", scrolling="no"></iframe>
{% endblock %}

{% block bottom %}
{% for href in wallpaper_bar %}
                {% if href == mode %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/wallpaper/{{ href|e }}">{{href|e}}<span class="visually-hidden">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/wallpaper/{{ href|e }}">{{href|e}}</a>
                    </li>
                {% endif %}
            {% endfor %}
{% endblock %}