{% extends "layout.html" %}
{% set active_page = "wallpaper" %}
{% set wallpaper_bar = ['arrows', 'drag', 'fullscreen'] %}

{% block offcanvasheader %} wallpaper drawings {% endblock %}
{% block offcanvastext %}
    <div class="offcanvas-info">
        <h4 title="offcanvas-mini-title">how to play ({{mode}})</h4>
        {% if mode == 'arrows' %}
            <ul>
                <li>arrows to navigate</li>
                <li>i to toggle invisiblity</li>
                <li>e to toggle erasor mode</li>
                <li>-/+ to change size of brush</li>
                <li>c to clear the canvas</li>
                <li>s to take a screenshot</li>
                        {% elif mode == 'drag' %}
            <p>drag to draw on the canvas !</p>
        {% else %}
            <ul>
                <li>arrows to move around</li>
                <li>-/+ to zoom in and out</li>
            </ul>
        {% endif %}
    </div>

    <div class="offcanvas-info">
    <h4 title="offcanvas-mini-title">some stuff i wanted to say</h4>
    <p> things to say: found algorithm in a book (find / remember book, omni smth) , beautiful generated style, again wanted to see
        this style in movement, etc . ways could play around further is with colour % etc ! 
    </p><p>
        had fun testing out dragging / movement style 
    </p>
        experiments with different layers of the canvas
    </p>
    </div>

{% endblock %}

{% block body %}

<iframe src="/static/animations/wallpaper/{{mode}}/index.html", name="wallpaper", title="wallpaper", frameborder="0", scrolling="no"></iframe>

{% endblock %}

{% block bottom %}
{% for href in wallpaper_bar %}
                {% if href == mode %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/wallpaper/{{ href|e }}">{{href|e}}<span class="visually-hidden">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/wallpaper/{{ href|e }}">{{href|e}}</a>
                    </li>
                {% endif %}
            {% endfor %}
{% endblock %}